.typewriter {
  color: var(--color-primary);
  display: inline-block;
  width: 15rem;
  text-align: center;
}

.typewriter:after {
  content: "";
  border-right: 2px solid var(--color-primary);
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
